services: 
  products_db: 
    image: postgres:17-alpine
    container_name: products-db 
    environment:
      POSTGRES_USER: products_db_user 
      POSTGRES_PASSWORD: products_db_password
      POSTGRES_DB: productssvc
    ports: 
      - "5432:5432"
    volumes: 
      - pgdata:/var/lib/postgresql/data

  jaeger: 
    image: jaegertracing/all-in-one:1.54
    ports: 
      - "16686:16686"
      - "14268:14268"

  prometheus: 
    image: prom/prometheus
    ports: 
      - "9091:9090"
    volumes: 
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

volumes: 
  pgdata: