services: 
  products_db: 
    image: mongo:latest 
    container_name: product-mongodb
    restart: unless-stopped 

    ports: 
      - "27017:27017"

    environment: 
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword 
      MONGO_INITDB_DATABASE: catalog

    volumes: 
      - mongo_data:/data/db

    healthcheck: 
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s 
      retries: 5

  jaeger: 
    image: jaegertracing/all-in-one:1.54
    ports: 
      - "16686:16686"
      - "14268:14268"

  prometheus: 
    image: prom/prometheus
    ports: 
      - "9091:9090"
    volumes: 
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  productservice: 
    build: 
      context: ./src/productservice
      cache_from: 
        - type=local,src=/go-cache
    container_name: productsvc
    environment:
      - GOCACHE=/go-cache
    env_file:
      - ./src/productservice/.env
    volumes: 
      - go-cache:/go-cache
    ports: 
      - "50051:50051"
    depends_on:
      - prometheus
      - jaeger

  envoy: 
    build: ./envoy 
    container_name: envoy
    ports: 
      - "8080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - productservice
    volumes:
      - ./envoy/descriptor.pb:/etc/envoy/descriptor.pb

  redis: 
    image: redis:alpine 
    container_name: shop-redis 
    ports: 
      - "6379:6379"
    volumes: 
      - redis-data:/data
    networks: 
      - shop-network
    command: ["redis-server", "--appendonly", "yes"]

networks:
  shop-network: 
    driver: bridge

volumes: 
  pgdata:
  go-cache:
  redis-data:
  mongo_data: 