[package]
name = "domain"
version = "0.1.0"
edition = "2024"

[dependencies]
uuid.workspace = true
serde.workspace = true
chrono.workspace = true
thiserror.workspace = true
async-trait.workspace = true
